{% extends "calendly/base.html" %}
{% block extra_head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock%}
{% block title %}{{event.name}}{% endblock%}
{% block content %}
<div class="my-3" align="center">
  <h2> {{ event.name }}</h2>
  <p><a href="{% url 'calendly:user_detail' event.user_created.username %}">{{ event.user_created.username }}</a></p>
  <p>Start time: {{ event.start_time }}</p>
  <p>End time: {{ event.end_time }}</p>
    {% if request.user != event.user_created %}
    <a class="btn btn-primary" href="#">Join</a>
    {% endif %}
  {% if event.user_created == request.user or request.user.is_staff %}
    <a class="btn btn-outline-info" href="{% url 'calendly:update_event' event.hash_url %}">Edit</a>
    <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ event.id }}">Delete</a>
    <!-- Modal dialog for delete confirmation -->
    <div class="modal fade" id="confirmDeleteModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel{{ event.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel{{ event.id }}">Delete Event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the event "{{ event.name }}"?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form method="post" action="{% url 'calendly:delete_event' event.hash_url %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <ul>
        <p>Invitees:</p>
      {% for event_join_user in event_join_users %}
        <li>{{ event_join_user.full_name }} - {{ event_join_user.email }}</li>
      {% empty %}
        <li>No invitees for this event.</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

{% endblock %}