{% extends "calendly/base.html" %}
{% block title %}Explore{% endblock%}
{% block content %}
<div class="my-3">
<div class="dropdown">
  <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownRangePicker" data-bs-toggle="dropdown" aria-expanded="false">
    {{ range }}
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownRangePicker">
    <li>
        <a class="dropdown-item" href="#">Day</a>
    </li>
    <li>
        <a class="dropdown-item" href="#">Week</a>
    </li>
    <li>
        <a class="dropdown-item" href="#">Month</a>
    </li>
      <li>
          <a class="dropdown-item" href="#">Year</a>
      </li>
  </ul>
</div>
</div>
{% block calendar %}
<div class="my-3">
<table class="table table-bordered ">
        <thead>
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
        </thead>
        <tbody>
            {% for week in calendar_data %}
                <tr>
                    {% for day in week %}
                        <td>{{ day }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock calendar %}
{% endblock %}