<!DOCTYPE html>
<html>
  <head>
    <title>Calendly Pet</title>
      <BASE href="{% url 'calendly:index' %}">
      {% load static %}
      <link rel = 'stylesheet' href="{% static 'calendly/style.css' %}">

  </head>
  <body>
  {% if events %}
  <h2>Upcoming events:</h2>
        <ul>
        {% for event in events %}
            <li><a href="{% url 'calendly:event_detail' event.hash_url %}">{{ event.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No events are available.</p>
    {% endif %}
  </body>
</html>
