{% extends "calendly/base.html" %}
{% block content %}
<div class="row text-center my-3 container-fluid">
    <div class="col">
             <div class="info">
                <h4>Events in database</h4>
                <p><b>{{ events_count }}</b></p>
             </div>
    </div>
    <div class="col">
            <div class="info">
                <h4>Users in database</h4>
                <p><b>{{ users_count }}</b></p>
            </div>
    </div>
    <div class="col">
            <div class="info">
                <h4>Active events</h4>
                <p><b>{{ active_events }}</b></p>
            </div>
    </div>
</div>
<div class="d-flex justify-content-center my-3">
    <h1>Upcoming Events</h1>
</div>
<div class="d-flex justify-content-center">
    {% if events %}
    <table class="table table-hover table-borderless">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Host</th>
            <th scope="col">Start at</th>
            <th scope="col">Link</th>
        </tr>
        </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.user_created }}</td>
                    <td>{{ event.start_time }}</td>
                    <td><a class="btn btn-outline-primary" href="{% url 'calendly:event_detail' event.hash_url %}" role="button">Link</a></td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    {% else %}
        <p>No events are available.</p>
    {% endif %}
</div>
{% endblock %}
